.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;

  .title {
    font-weight: 500;
    font-size: 2em;
    line-height: 36px;
    color: #4F4F4F;

    margin-bottom: 50px;
  }
  .description {
    margin-bottom: 50px;
    font-size: 1.2em;
    a {
      color: #4F4F4F;
    }
  }

}
