@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', "Helvetica Neue", sans-serif;
  font-size: 14px;
}
