mat-sidenav-container {
  height: 100%
}


mat-sidenav {
  background-color: #FAFBFD;
  width: 250px;
  padding: 10px 50px;
  border: none;

  h3 {

    margin-bottom: 100px;

    a {
      text-decoration: none;
      color: #090F31;
    }
  }

  .links {
    a {
      display: block;
      margin: 25px 0;

      text-decoration: none;
      color: #9E9E9E;

      &:hover,
      &.active {
        color: #090F31;
      }
    }

  }
}

mat-sidenav-content {
  background-color: #fff;
  padding: 10px;

  /* hide scrollbar */
  overflow-y: scroll;
  /* ability to scroll */
  scrollbar-width: none;
  /* firefox*/

  &::-webkit-scrollbar {
    display: none;
    /* chrome - safari - opera */
  }
}
