<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" [(opened)]="opened" opened>
    <div class="container">
      <h3>Menu</h3>
      <div class="links">
        <a routerLink='button' routerLinkActive='active'>Buttons</a>
        <a routerLink='input' routerLinkActive='active'>Inputs</a>
        <a routerLink='dialog' routerLinkActive='active'>Dialogs</a>
        <a routerLink='' routerLinkActive=''>Progress bar</a>
        <a routerLink='' routerLinkActive=''>Spinners</a>
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
